version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 15s
      timeout: 10s
      retries: 5

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: user_activity_db
      POSTGRES_USER: user_activity_user
      POSTGRES_PASSWORD: user_activity_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./services/db/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./services/db/seed-data.sql:/docker-entrypoint-initdb.d/seed-data.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_activity_user -d user_activity_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  producer_service:
    build: ./services/producer
    container_name: producer_service
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - .env.example
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep producer.py | grep -v grep"]
      interval: 15s
      timeout: 5s
      retries: 5

  consumer_service:
    build: ./services/consumer
    container_name: consumer_service

    volumes:
      - ./tests:/app/tests

    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy

    env_file:
      - .env.example

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "python", "-c", "import socket; socket.create_connection(('kafka', 9092), 2)"]
      interval: 15s
      timeout: 10s
      retries: 5



  api_service:
    build: ./services/api
    container_name: api_service
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env.example
    ports:
      - "8000:8000"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/health')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
